.formulario3{
    margin-top: 2% ;
    padding-bottom: 5.5%;
    padding: 18px;
    width: 400px;
    height: 435px;
    border: 2px solid #ffffff
    
  }
  
  .fundo3{
      background-color: #171f38;
      height: 789px;
  }
  
  .label3{
      color: white;
       display:inline-block;
      
  }

.for1{
    margin-top: 0%;
}
  

  